<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="movies">

	<select id="list"  resultType="movies">
		select * from movie
	</select>

	<select id="pre_list" resultType="movies">
		select * from movie where movie_startdate >= sysdate
	</select>
	
<!-- 	<select id="video_list" resultType="videos"> -->
<!-- 		select * from video  v  -->
<!-- 		INNER join  -->
<!-- 		movie m on v.movie_no = m.movie_no -->
<!-- 	</select> -->
	
	<select id="video_list" resultType="videos">
		select * from video 
		
	</select>
	

</mapper>






