<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="movies">

<!-- 무비차트 리스트 -->
	<select id="list"  resultType="movies">
		select * from movie
	</select>

<!-- 상영 예정작 리스트 -->
	<select id="pre_list" resultType="movies">
		select * from movie where movie_startdate >= sysdate
	</select>
	
	<!-- 트레일러 리스트 -->
	<select id="video_list" resultType="videoVO">
		select * from video  v 
		INNER join 
		movie m on v.movie_no = m.movie_no
	</select>
	
	<!-- 파인더 리스트 -->
	<select id="finder_list" resultType="movies" parameterType="movieVO">
		select*from movie
	<where>
	<if test="type != '' and keyword != ''">
		<choose>
			<!-- 전체 검색 일경우 -->
			<when test="type == 'all'">
				 movie_title like '%'||#{keyword}||'%'
<!-- 				or actor_name like '%'||#{keyword}||'%' -->
				or movie_director like '%'||#{keyword}||'%'
			</when>
			
			<!-- 전체 검색 이 아닐경우 -->
			<otherwise>
				 ${type} like '%'||#{keyword}||'%'
			</otherwise>
		</choose>
		
	</if>
	<if test="genre != null">
	 and movie_genre in
	<foreach collection="genre" item="type" index="index" open="(" close=")" separator=",">
		#{type}
	</foreach>
	</if>
	
	<if test="country != null">
	 and movie_country in
	<foreach collection="country" item="type" index="index" open="(" close=")" separator=",">
		#{type}
	</foreach>
	</if>
	
	<if test="grade != null">
	 and movie_grade in
	<foreach collection="grade" item="type" index="index" open="(" close=")" separator=",">
		#{type}
	</foreach>
	</if>
	</where>
		order by movie_no asc
	</select>
	
	<!-- 검색 결과 수 -->
	<select id="count" resultType="int">
		select count(*) from movie
		
		<if test="type != '' and keyword != ''">
		<choose>
<!-- 		전체 검색 일경우  -->
			<when test="type == 'all'">
				where movie_title like '%'||#{keyword}||'%'
<!-- 				or actor_name like '%'||#{keyword}||'%' -->
				or movie_director like '%'||#{keyword}||'%'
			</when>
			
<!-- 		전체 검색 이 아닐경우 -->
			<otherwise>
				where ${type} like '%'||#{keyword}||'%'
			</otherwise>
		</choose>
	</if>
	</select>
	
	<insert id="insert" parameterType="movies">
		insert into movie values(movie_no_seq.nextval,#{files_no},#{movie_title},#{movie_director},#{movie_ticket_rate},sysdate,#{movie_runtime},#{movie_country},#{movie_grade},#{movie_status},#{movie_genre},#{movie_publisher},#{movie_content})
	</insert>
	
	<select id="getList" resultType="movies">
		select * from movie order by movie_no desc
	</select>
	
	<delete id="delete" parameterType="int">
		delete movie where movie_no = #{movie_no}
	</delete>
	
	<update id="update" parameterType="movies">
		update movie set movie_title = #{movie_title},
	            movie_director =#{movie_director},
	            movie_startdate = sysdate,
				movie_runtime = #{movie_runtime},
				movie_country = #{movie_country},
				movie_grade = #{movie_grade},
				movie_status = #{movie_status},
				movie_publisher = #{movie_publisher},
				movie_genre = #{movie_genre}
		where movie_no = #{movie_no}
	</update>

<!-- 배우 이름 출력 리스트 -->
	<select id="actorList" resultType="String">
		select actor_name from actor where movie_no= 1
	
	</select>

<select id="movieDetail" resultType="movies">
	select*from movie where movie_no = 1
</select>



</mapper>



		
		



