<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="movies">

<!-- 무비차트 리스트 -->
	<select id="list"  resultType="movies">
		select * from movie
	</select>

<!-- 상영 예정작 리스트 -->
	<select id="pre_list" resultType="movies">
		select * from movie where movie_startdate >= sysdate
	</select>
	
	<!-- 트레일러 리스트 -->
	<select id="video_list" resultType="videoVO" >
	select * from movie m
    inner join
    video v on m.movie_no = v.movie_no
<!--     where v.movie_no = #{movie_no} -->
	
	</select>
	
	<!-- 파인더 리스트 -->
	<select id="finder_list" resultType="movies" parameterType="map">
		select*from movie
	<if test="type != '' and keyword != ''">
		<choose>
			<!-- 전체 검색 일경우 -->
			<when test="type == 'all'">
				where movie_title like '%'||#{keyword}||'%'
<!-- 				or actor_name like '%'||#{keyword}||'%' -->
				or movie_director like '%'||#{keyword}||'%'
			</when>
			
			<!-- 전체 검색 이 아닐경우 -->
			<otherwise>
				where ${type} like '%'||#{keyword}||'%'
			</otherwise>
		</choose>
	</if>
		order by movie_no asc
	</select>
	
	<!-- 검색 결과 수 -->
	<select id="count" resultType="int">
		select count(*) from movie
		
		<if test="type != '' and keyword != ''">
		<choose>
<!-- 		전체 검색 일경우  -->
			<when test="type == 'all'">
				where movie_title like '%'||#{keyword}||'%'
<!-- 				or actor_name like '%'||#{keyword}||'%' -->
				or movie_director like '%'||#{keyword}||'%'
			</when>
			
<!-- 		전체 검색 이 아닐경우 -->
			<otherwise>
				where ${type} like '%'||#{keyword}||'%'
			</otherwise>
		</choose>
	</if>
	</select>
	
	<!-- 남녀 그래프 분포 -->
<select id="humanCount" resultType="int" parameterType="map" >
		select 
    count(ticket.ticket_no)
from 
    movie 
        inner join movietime on movie.movie_no = movietime.movie_no
        left outer join ticket on movietime.movietime_no = ticket.movietime_no
        inner join member on member.member_no = ticket.member_no
where
    movie.movie_no = #{movie_no}  and member_sex = #{member_sex}
</select>


	
	
	<insert id="insert" parameterType="movies">
		insert into movie values(#{movie_no},#{files_no},#{movie_title},#{movie_director},#{movie_ticket_rate},sysdate,#{movie_runtime},#{movie_country},#{movie_grade},#{movie_status},#{movie_genre},#{movie_publisher})
	</insert>
	
	<select id="getList" resultType="movies">
		select * from movie order by movie_no desc
	</select>
	
	<delete id="delete">
		delete movie where movie_no = #{no}
	</delete>
	
	<update id="update" parameterType="movies">
		update movie set movie_title = #{movie_title},
	            movie_director =#{movie_director},
	            movie_startdate = sysdate,
				movie_runtime = #{movie_runtime},
				movie_country = #{movie_country},
				movie_grade = #{movie_grade},
				movie_status = #{movie_status},
				movie_publisher = #{movie_publisher},
				movie_genre = #{movie_genre}
		where movie_no = #{movie_no}
	</update>

<!-- 배우 이름 출력 리스트 -->
	<select id="actorList" resultType="String" parameterType="int">
		select actor_name from actor where movie_no= #{movie_no}
	
	</select>
<!-- 영화 상세 정보 -->
<select id="movieDetail" resultType="movies" parameterType="int">
	select*from movie where movie_no = #{movie_no}
</select>

<!-- 상세 정보 트레일러 -->
	<select id="info_trailer" resultType="videoVO" >
	select * from movie m
    inner join
    video v on m.movie_no = v.movie_no
    where m.movie_no = #{movie_no}
	</select>
<!-- 상세 정보 스틸컷 -->
	<select id="stillcut" resultType="stillcutVO" parameterType="int">
	select*from stillcut
		inner join
		(select*from movie 
    	inner join 
    		files on movie.files_no = files.files_no)a
    			on stillcut.movie_no = a.movie_no
    	where a.movie_no = #{movie_no}
	
	</select>


<select id="movieSearch" resultType="movieVO">
	SELECT MV.*, NVL(MV_SUB.REVIEW_CONTENT,' ') AS REVIEW_CONTENT
	FROM 	
	    MOVIE MV LEFT JOIN 
		(
		 SELECT  RV.REVIEW_CONTENT , MT.MOVIE_NO
		 FROM 	TICKET TK INNER JOIN REVIEW RV
		 ON TK.TICKET_NO = RV.TICKET_NO 
		 INNER JOIN MOVIETIME MT 
		 ON MT.MOVIETIME_NO = TK.MOVIETIME_NO
		 )MV_SUB
	ON MV.MOVIE_NO = MV_SUB.MOVIE_NO
	WHERE REPLACE(MV.MOVIE_TITLE,' ') LIKE '%'||#{keyword}||'%' OR REPLACE(MV.MOVIE_DIRECTOR,' ') LIKE '%'||#{keyword}||'%'
	  	  OR REPLACE(MV.MOVIE_CONTENT,' ') LIKE '%'||#{keyword}||'%' OR REPLACE(MV_SUB.REVIEW_CONTENT,' ') LIKE '%'||#{keyword}||'%'
	  
</select>

<insert id="wishinsert"> <!-- 지현이 추가 미완성 -->
     INSERT INTO WISH(WISH_NO,MEMBER_NO,MOVIE_NO) values ('3',#{member_no},#{movie_no})
</insert>






</mapper>



		
		



