<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	
	<!-- 운영 설정 -->
	<settings>
		<setting name="cacheEnabled" value="true"/>
		<setting name="defaultStatementTimeout" value="10000"/>
	</settings>
	
	<!-- 별칭 -->
	<typeAliases>

		<typeAlias type="com.kh.cgx.entity.user.MemberDto" alias="Member"/>
		<typeAlias type="com.kh.cgx.entity.movie.MovieDto" alias="movies"/>
		<typeAlias type="com.kh.cgx.entity.cinema.CinemaDto" alias="CinemaDto"/>
		<typeAlias type="com.kh.cgx.entity.cinema.MovieTimeDto" alias="MovieTimeDto"/>
		<typeAlias type="com.kh.cgx.entity.cinema.ScreenDto" alias="ScreenDto"/>
		<typeAlias type="com.kh.cgx.entity.goods.GoodsDto" alias="Goods"/>
		<typeAlias type="com.kh.cgx.entity.movie.VideoDto" alias="videos"/>
		<typeAlias type="com.kh.cgx.entity.mypage.TicketDto" alias="ticket"/>
		<typeAlias type="com.kh.cgx.entity.cinema.SeatDto" alias="Seat"/>
		<typeAlias type="com.kh.cgx.vo.movie.VideoVO" alias="videoVO"/>
		<typeAlias type="com.kh.cgx.entity.admin.AdminDto" alias="adminDto"/>
		<typeAlias type="com.kh.cgx.entity.admin.ManagerDto" alias="managerDto"/>
		<typeAlias type="com.kh.cgx.entity.movie.ActorDto" alias="actorDto"/>
		<typeAlias type="com.kh.cgx.vo.movie.MovieActorVO" alias="movieActorVO"/>

		

	</typeAliases>
	
</configuration>
	




